<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KIF Background.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KIFBackgrounding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test Host.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB12009117BCAAF3001073C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1200A217BCAAF3001073C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1200C017BCAB21001073C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1200DE17BCAB3E001073C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
